* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal, italic;
}

.center {
  padding-right: calc(50% - 570px);
  padding-left: calc(50% - 570px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 20px 40px;
  border: 2px solid darkblue;

}
/* .header-item {
  

} */
.caption {
  color: blue;
}
.time {
  font-size: 24px;
  color: blue;
}
/* login */
.login {
  background-color: aliceblue;
}
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: aqua;
  padding: 20px 40px;
  /* border: 2px solid darkblue; */
}
.text {
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  color: darkblue;
  margin-bottom: 20px;
}
.users {
  width: 55%;
}
.users-title {
  color: darkblue;
  text-decoration: underline;
  margin-bottom: 20px;
}
/* .users-list {

} */
.users-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: darkblue;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
    
}
.buttons {
  display: flex;
  gap: 5px;
}
.btn {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: white;
  padding: 3px;
  font-size: 14px;
  font-style: italic;
  color: blue;
}
.update-btn {
  display: block;
}
.btn:hover {
  background-color: blue;
  color: white;
}
/* .sidebar {
 
} */
.sidebar-content {
  border-left: 4px solid blue;
  padding-left: 10px;
}
.sidebar-title {
  color: darkblue;
  margin-bottom: 10px;
}
.sidebar-list {
  list-style: none;
}
.sidebar-li {
  color: blue;
  text-decoration: underline;
  margin-bottom: 5px;
}
.footer {
  background-color: black;
}
.footer-content {
  padding: 40px;
  color: white;
}
/* стили для сообщений */
.block-message {
  display: flex;
  flex-direction: column;

}
.text-message {
  font-size: 24px;
  color: blue;
  margin-bottom: 20px;
}
.link-message {
  color: darkblue;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 5px;
}
